
@if (!User.Identity.IsAuthenticated)
{
    <li><a asp-area="Account" asp-page="Register">Register</a></li>
    <li><a asp-area="Account" asp-page="Login">Login</a></li>

}
else
{
    <li><a asp-page="Index" asp-page-handler="Logout">Logout</a></li>
}