@page
@model LendCar.Pages.testModel
@{
    ViewData["Title"] = "Page Not Found";
}

<section class="main-container">
    <div class="container">
        <div class="row main-row">

            <div class="sade-face hidden-xs"></div>

            <div class="col-md-12 text-center">
                <div class="error-main-titel">
                    <h1>404</h1>
                </div>
                <div class="error-title-description">
                    <h3>OOPS... PAGE NOT FOUND!</h3>
                </div>
                <div class="help-text">
                    <p>Try using the button below to go to main page of the site</p> <br>
                    <a  asp-page="Index"><i class="fas fa-angle-double-left"></i> Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

