@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

    <section style="background:#efefe9;">
        <div class="container-fluid">
            <div class="row">
                <div class="board">
                    @*<h2>Welcome to IGHALO!<sup>™</sup></h2>*@
                    <div class="board-inner">

                        @*list of tabs*@
                        <ul class="nav nav-tabs" id="myTab">
                            <div class="liner"></div>
                            <li class="active">
                                <a href="#home" data-toggle="tab" title="welcome">
                                    <span class="round-tabs one">
                                        <i class="glyphicon glyphicon-home"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#profile" data-toggle="tab" title="profile">
                                    <span class="round-tabs two">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                                    <span class="round-tabs three">
                                        <i class="glyphicon glyphicon-gift"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#settings" data-toggle="tab" title="blah blah">
                                    <span class="round-tabs four">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#doner" data-toggle="tab" title="completed">
                                    <span class="round-tabs five">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    @*Tab 1*@
                    <div class="container">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="showEntries">Show Entries : </label>
                                        <select id="showEntries" class="form-control">
                                            <option value="1">10</option>
                                            <option value="2">15</option>
                                            <option value="3">20</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="head text-center">Vehicles</h3>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="">Search : </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <section id="main-container" class="main-container">
                                    <div class="container">
                                        <div class="row">
                                            <img src="~/loader6.gif" style="display:none" id="loader" class="preload" />
                                            <div id="vechileList">
                                                <partial name="_AdminCarList" model="@Model.Vehicles" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">

                                        @Html.PagedListPager((IPagedList)Model.Vehicles, page => "Admin/Admin?Page=" + page,
                                            new X.PagedList.Mvc.Common.PagedListRenderOptions
                                            {
                                                DisplayItemSliceAndTotal = true,
                                                ContainerDivClasses = new[] { "navigation" },
                                                LiElementClasses = new[] { "page-item" },
                                                PageClasses = new[] { "page-link" },
                                            })
                                    </div>
                                </section>
                            </div>

                            @*Tap 2*@
                            <div class="tab-pane fade" id="profile">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="showEntries">Show Entries : </label>
                                        <select id="showEntries" class="form-control">
                                            <option value="1">10</option>
                                            <option value="2">15</option>
                                            <option value="3">20</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="head text-center">Brand</h3>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="">Search : </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row col-md-8 col-md-offset-2 custyle">
                                        <table class="table table-striped custab">
                                            <thead>
                                                <a href="#" class="btn btn-primary btn-xs pull-left"data-toggle="modal" data-target="#product_Create"><b>+</b> Add new Brand</a>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>1</td>
                                                <td>News</td>
                                                <td class="text-center">
                                                    <a class='btn btn-info btn-xs' data-toggle="modal" data-target="#product_view" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                                    <a href="#" class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-remove"></span> Del</a>
                                                </td>
                                            </tr>

                                        </table>


                                        <!--model of edit-->
                                        <div class="modal fade product_view" id="product_view">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove" style="color:red"></span></a>
                                                        <h3 class="modal-title">Edit</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <section class="edit-admin">
                                                            <div class="container">
                                                                <form action="">
                                                                    <div class="row">
                                                                        <div class="col-md-4  col-md-offset-1 edit-color">
                                                                            <div class="form-group">
                                                                                <label>Brand</label>
                                                                                <input class="form-control" type="text" name="Brand" id="Brand" placeholder="Enter Car Brand" required>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12 text-center">
                                                                                    <button class="btn btn-primary save">Save <i class="far fa-save"></i></button><br><br>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--model of Create-->
                                        <div class="modal fade product_view" id="product_Create">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                        <h3 class="modal-title">Create</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <section class="create-admin">
                                                            <div class="container">
                                                                <form action="">
                                                                    <div class="row">
                                                                        <div class="col-md-4  col-md-offset-1 create-border">
                                                                            <div class="form-group">
                                                                                <label>Brand</label>
                                                                                <input class="form-control" type="text" name="Brand" id="Brand" placeholder="Enter Car Brand" required>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12 text-center">
                                                                                    <button class="btn btn-primary save">Save <i class="far fa-save"></i></button><br><br>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </section>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*Tab 3*@
                            <div class="tab-pane fade" id="messages">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="showEntries">Show Entries : </label>
                                        <select id="showEntries" class="form-control">
                                            <option value="1">10</option>
                                            <option value="2">15</option>
                                            <option value="3">20</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="head text-center">Color</h3>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="">Search : </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row col-md-8 col-md-offset-2 custyle">
                                        <table class="table table-striped custab">
                                            <thead>
                                                <a href="#" class="btn btn-primary btn-xs pull-left"><b>+</b> Add new Color</a>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Color</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>1</td>
                                                <td>News</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Products</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Blogs</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @*Tab 4*@
                            <div class="tab-pane fade" id="settings">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="showEntries">Show Entries : </label>
                                        <select id="showEntries" class="form-control">
                                            <option value="1">10</option>
                                            <option value="2">15</option>
                                            <option value="3">20</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="head text-center">Color</h3>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="">Search : </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row col-md-8 col-md-offset-2 custyle">
                                        <table class="table table-striped custab">
                                            <thead>
                                                <a href="#" class="btn btn-primary btn-xs pull-left"><b>+</b> Add new Color</a>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Color</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>1</td>
                                                <td>News</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Products</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Blogs</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @*Tab 5*@
                            <div class="tab-pane fade" id="doner">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label for="showEntries">Show Entries : </label>
                                            <select id="showEntries" class="form-control">
                                                <option value="1">10</option>
                                                <option value="2">15</option>
                                                <option value="3">20</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7">
                                            <h3 class="head text-center">Color</h3>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="">Search : </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row col-md-8 col-md-offset-2 custyle">
                                            <table class="table table-striped custab">
                                                <thead>
                                                    <a href="#" class="btn btn-primary btn-xs pull-left"><b>+</b> Add new Color</a>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Color</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>1</td>
                                                    <td>News</td>
                                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Products</td>
                                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Blogs</td>
                                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





@section Scripts{
    <script>

        $(document).on('click','.accept',function () {

                let vechicleId = $(this).attr('data-id');
                if (vechicleId != undefined) {
                    $.ajax({
                        method: 'Post',
                        data: { Page:@Model.CurrentPage, Id: vechicleId },
                        url: '/Vehicles/Accept',
                        beforeSend: function () {
                            $('#loader').show();
                        },
                        success(data) {
                            $('#vechileList').html(data);
                            $('#loader').hide();
                        }
                    })
                }

        })

        $(document).on('click','.refuse',function () {

                let vechicleId = $(this).attr('data-id');
                if (vechicleId != undefined) {
                    $.ajax({
                        method: 'Post',
                        data: { Page:@Model.CurrentPage, Id: vechicleId },
                        url: '/Vehicles/Refuse',
                        beforeSend: function () {
                            $('#loader').show();
                        },
                        success(data) {
                            $('#vechileList').html(data);
                            $('#loader').hide();
                        }
                    })
                }

            })

        $(document).ready(function () {
            $('/*ul*/.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}