@page
@model LendCar.Pages.forgetPasswordModel
@{
    ViewData["Title"] = "forgetPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="LoginPage">
    <div class="formLogin">
        <!-- FORGOT PASSWORD FORM -->
        <div class="text-center" style="padding:50px 0">
            <h1>forgot password</h1>
            <div class="logo">

                <img src="https://bit.ly/2zsnRnh" alt="car" />
            </div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="forgot-password-form" class="text-left" method="post">
                    <div class="etc-login-form">
                        <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                    </div>
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label asp-for="Input.Email" class="sr-only"></label>
                                <input type="text" asp-for="Input.Email" class="form-control" placeholder="email address">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <button id="forget" disabled type="submit" data-toggle="modal" data-target="#myModal" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>already have an account? <a asp-page="./Login">login here</a></p>
                        <p>new user? <a asp-page="./Register">create new account</a></p>
                    </div>
                </form>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>*@
                            <div class="modal-body">
                                <p>Please check Your Email</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- end:Main Form -->
        </div>
    </div>
</section>
@section Scripts{
    <script>


        var $form = $("#forgot-password-form");
        var $submitbutton = $("#forget");

        $form.on("blur", "input", () => {
            if ($form.valid()) {
                $submitbutton.removeAttr("disabled");
            } else {
                $submitbutton.attr("disabled", "disabled");
            }
            $(".field-validation-error").addClass("text-danger");
        });

    </script>
    }