@page
@model LendCar.Areas.Account.Pages.HistoryModel
@{
    ViewData["Title"] = "History your car";

}
<section id="user-history"class="history">
    <div class="nav-container">
        <div class="container-fluid"></div>
        <div class="row ">
            <div class="links">
                <div class="col-md-12 text-center">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1" title="Rented cars" class="tab-one">
                                <span class="round ">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2" title="Rented cars" class="tab-tow">
                                <span class="round ">
                                    <i class="fas fa-history"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="userHistoryDiv" class="history">

        <partial name="_History" model="Model.ClientHistory" />
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click','.btnCancel',function () {
            var bookingId = $(this).attr('data-id');
            var clientId = '@Model.UserId';
            $.ajax({
                method: 'POST',
                url: '/Client/ClientCancel',
                data: { UserID: clientId, BookingId:bookingId },
                success: function (data) {
                    $('#userHistoryDiv').html(data);
                }
            })
        })
    })
    </script>
}