@page
@model LendCar.Areas.Account.Pages.HistoryModel

<div id="userHistoryDiv">
    <partial name="_History" model="Model.ClientHistory" />
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click','.btnCancel',function () {
            var bookingId = $(this).attr('data-id');
            var clientId = '@Model.UserId';
            $.ajax({
                method: 'POST',
                url: '/Client/ClientCancel',
                data: { UserID: clientId, BookingId:bookingId },
                success: function (data) {
                    $('#userHistoryDiv').html(data);
                }
            })
        })
    })
    </script>
}