@page
@model LendCar.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<section class="LoginPage">
    <div class="formLogin">
        <!-- FORGOT PASSWORD FORM -->
        <div class="text-center" style="padding:50px 0">
           
            <div class="logo">

                <img src="https://bit.ly/2zsnRnh" alt="car" />
            </div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="resetPassword" class="text-left" method="post">
                    <div class="etc-login-form">
                        <p> Reset your password.</p>
                    </div>
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Input.Email" class="sr-only"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="email address"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"class="sr-only"></label>
                                <input asp-for="Input.Password" class="form-control" placeholder="NewPassword"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"class="sr-only"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmation Password"/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                           
                        </div>
                        <button type="submit" disabled id="reset" data-toggle="modal" data-target="#myModal" class="login-button"><i class="fa fa-chevron-right"></i></button>

                    </div>
                   
                </form>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            @*<div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>*@
                            <div class="modal-body">
                                <p>Please check Your Email</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- end:Main Form -->
        </div>
    </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>*@
            <div class="modal-body">
                <p>
                    Your password has been reset. Please <a asp-area="Account" asp-page="Login">click here to login</a>.
                </p>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script>


        var $form = $("#resetPassword");
        var $submitbutton = $("#reset");

        $form.on("blur", "input", () => {
            if ($form.valid()) {
                $submitbutton.removeAttr("disabled");
            } else {
                $submitbutton.attr("disabled", "disabled");
            }
            $(".field-validation-error").addClass("text-danger");
        });

    </script>
}