@page
@model LendCar.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="resetPassword">
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" disabled id="reset" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>*@
            <div class="modal-body">
                <p>
                    Your password has been reset. Please <a asp-area="Account" asp-page="Login">click here to login</a>.
                </p>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script>


        var $form = $("#resetPassword");
        var $submitbutton = $("#reset");

        $form.on("blur", "input", () => {
            if ($form.valid()) {
                $submitbutton.removeAttr("disabled");
            } else {
                $submitbutton.attr("disabled", "disabled");
            }
            $(".field-validation-error").addClass("text-danger");
        });

    </script>
}