

/*-- home page --*/

#ts-team{
    padding:2%;
}

.ts-service-box .ts-service-icon i {
    font-size: 36px;
    float: left;
    color: var(--main-color);
}

.ts-service-icon i {
    margin-right: 15px;
    margin-top: 2px;
}

.into-sub-title{
    font-weight: 900;
}
.ts-service-box-content h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
} 

.titl-list h1 {
    color: black;
    margin-top:60px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 30px;
    text-shadow: 2px 2px #ffb600;
}

.ts-team-wrapper {
    position: relative;
    overflow: hidden;
    /*-webkit-box-shadow: 0px 1px 7px 6px rgba(43,43,43,1);
    -moz-box-shadow: 0px 1px 7px 6px rgba(43,43,43,1);*/
     box-shadow: 0px 1px 7px 6px rgba(43,43,43,1);
}



.ts-team-content strong{
    color:#ffb600;
}

.ts-team .item {
    margin-bottom: 35px;
}

.ts-team-wrapper img{
    min-height: 350px;

}

.ts-team-content {
    position: absolute;
    top: 81%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    margin-top: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.ts-team-content p{
    font-size: 18px;
}


.ts-team-wrapper:hover .ts-team-content {
    top: 0;
    padding-top: 50px;
}

.ts-team-content .ts-name {  
    margin-top: 0;
    margin-bottom: 3px;
    line-height: normal;
    color: #ffb600;
}


.item .ts-team-wrapper .ts-team-content a.btn-warning {
    background-color: #ffb600;
}

    .item .ts-team-wrapper .ts-team-content a.btn-warning:hover{
        background-color:black;
    }


    ul > li.page-item.active.car-list > span {
        background-color: #ffb600;
        transition: all ease-in-out .3s;
        border-color: #ffb600;
        font-size: 15px;
        margin-right: 7px;
        margin-bottom: 15px;
        border-radius: 20%;
    }



    ul > li.page-item.active.car-list > span:hover {
        background-color: #ffb60087;
        color: black;
        cursor: pointer;
        border-color: #ffb600;
        font-size: 15px;
    }

ul > li.page-item.active.admin-list > span {
    background-color: var(--main-color);
    transition: all ease-in-out .3s;
    border-color: var(--main-color);
    font-size: 15px;
    margin-right: 7px;
    margin-bottom: 15px;
    border-radius: 20%;
}




ul > li.page-item.active.admin-list > span:hover {
    background-color: #ffb60087;
    color: black;
    cursor: pointer;
    border-color: #ffb600;
    font-size: 15px;
}









