@page
@model LendCar.Pages.aboutModel
@{
    ViewData["Title"] = "about";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<section id="about">
    <div class="about-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <video autoplay muted loop class="myVideo hidden-xs">
                        <source src="~/cars.mp4" type="video/mp4">
                    </video>
                    <div class="about-title ">
                        <div class="content">
                            <h1 class="wow slideInLeft" data-wow-duration="2s">About LendCar</h1>
                            <p class="wow slideInLeft" data-wow-duration="2.5s">Let us introduce you to ourselves</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="role">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="role-content">
                    <h1 class="text-center">Where local hosts provide you with </h1>
                    <h2 class="text-center"> the perfect vehicle for your next adventure</h2>

                    <p>
                        LendCar is a car sharing marketplace where guests can book any car they
                        want, wherever they want it, from a vibrant community of local hosts
                        across the US, Canada, the UK, and Germany. Guests choose from a
                        totally unique selection of nearby cars, while hosts earn
                        extra money to offset the costs of car ownership.
                    </p><br>
                    <p>
                        A pioneer of the sharing economy and travel industry, LendCar is a safe,
                        supportive community over 10 million strong with more than 350,000
                        vehicles listed and over 850 unique makes and models. Whether it’s
                        a truck to help out on moving day, a Mercedes-Benz for a luxurious
                        weekend away, or a classic VW bus for a picture-perfect road trip,
                        LendCar lets you book cars that
                        are part of a story, not a fleet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-mission">
    <div class="container">
        <div class="row">

            <div class="col-md-4 text-center wow slideInLeft" data-wow-duration="1.5s" >
                <div class="vision ">
                    <h1>Our Vision</h1>
                    <p>
                        Our vision is to be recognized for the quality of service we
                        provide and our attention to patient care. We want to remain
                        an independent, not-for-profit, full-service community hospital
                        and to continue to be the major health care provider in our
                        primary area as well as the hospital
                        of choice for our medical staff.
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center hidden-xs hidden-sm wow bounceInUp" data-wow-duration="1.5s">
                <img class="img-responsive" src="~/images/pngfind.com-vision-png-360497.png">
            </div>

            <div class="col-md-4 wow slideInRight" data-wow-duration="1.5s">
                <div class="mission">
                    <h1>Our Mission</h1>
                    <p>
                        Our mission is to promote an environment where members of our
                        community can receive high quality care and service so they can
                        maintain and be restored to good health. We will accomplish our
                        mission by interacting with the following groups . .
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section  class="our-team">
    <div class="container">

        <div class="team-description text-center">
            <h1>MEET OUR TEAM</h1>
            <p>
                We are all very different. We were born in different cities,
                at different times, we love different music, food, movies. But
                we have something that unites us all. It is our company.
                We are its heart. We are not just a team, we are a family.
            </p>
        </div>

        <div class="row">
            <div id="our-team" class="owl-carousel owl-theme">
                <div class="team-border">
                    <div class="person-img">
                        <img class="img-responsive" src="~/images/mostafa.jpg" alt="Mostafa">
                    </div>
                    <div class="person-info">
                        <h3>Mostafa Essam</h3>
                        <p>Site Manager</p>
                        <p>Nats Stenman began his career in construction with boots on the ground</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/mostafa.shapan.10" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mostafa-essam-4459411a1/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="item">
                    <div class="team-border">
                        <div class="person-img">
                            <img src="~/images/Essam.jpg" class="img-responsive" alt="Mostafa">
                        </div>
                        <div class="person-info">
                            <h3>Mohamed Essam</h3>
                            <p>Site Manager</p>
                            <p>Nats Stenman began his career in construction with boots on the ground</p>
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item" >
                    <div class="team-border">
                        <div class="person-img">
                            <img class="img-responsive" src="~/images/qorany.jpg" alt="Mostafa">
                        </div>
                        <div class="person-info">
                            <h3>Ahmed Qurany</h3>
                            <p>Site Manager</p>
                            <p>Nats Stenman began his career in construction with boots on the ground</p>
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-border">
                        <div class="person-img">
                            <img class="img-responsive" src="~/images/mo-essam.jpg" alt="Mostafa">
                        </div>
                        <div class="person-info">
                            <h3>Mohamed Essam</h3>
                            <p>Site Manager</p>
                            <p>Nats Stenman began his career in construction with boots on the ground</p>
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            


            <div class="item" >
                <div class="team-border">
                    <div class="person-img">
                        <img class="img-responsive" src="~/images/mostafa.jpg" alt="Mostafa">
                    </div>
                    <div class="person-info">
                        <h3>Mostafa Essam</h3>
                        <p>Site Manager</p>
                        <p>Nats Stenman began his career in construction with boots on the ground</p>
                        <ul>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

          </div>
        </div>
    
</section>

