@page
@{
    ViewData["Title"] = "AddCar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
        <section style="background-image: url(https://bit.ly/2Sxz2lq); background-size:cover">
            <div class="form-horizontal">
                <div class="container-fluid ">
                    <div class="row col-md-5 add-car center-block">
                        <div>
                            <h2>Add Your Car</h2>
                        </div>
                        <hr />
                        <form>
                            <div class="form-group col-md-10">
                                <label for="VIN">VIN : </label>
                                <input type="text" class="form-control" name="VIN" id="VIN" placeholder="VIN ">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="Brand">Brand :</label>
                                <input type="text" class="form-control" name="Brand" id="Brand" placeholder="Brand">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="PlateNumber">Plate Number</label>
                                <input type="text" class="form-control" name="PlateNumber" id="PlateNumber" placeholder="Plate Number">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="Model">Model : </label>
                                <input type="text" class="form-control" name="Model" id="Model" placeholder="Model">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="Year">Year : </label>
                                <input type="number" min="1800" max="@DateTime.Now.Year" name="Year" step="1" class="form-control" id="Year" placeholder="Year">
                            </div>

                            <div class="form-group col-md-10">
                                <label for="OdoMeter">OdoMeter : </label>
                                <input type="number" class="form-control" id="OdoMeter" placeholder="OdoMeter">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="VehicleType">Vehicle Type : </label>
                                <select id="VehicleType" class="form-control">
                                    
                                </select>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="Country">Country : </label>
                                <select id="Country" class="form-control">
                                    <option value="volvo">Egypt</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="City">City : </label>
                                <select id="City" class="form-control">
                                    <option value="volvo">Minia</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="Region">Region : </label>
                                <select id="Region" class="form-control">
                                    <option value="volvo">Damaress</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="ImageCar">Image Car: </label>
                                <input type="file" id="ImageCar">
                                <p class="help-block">Select more than image...</p>
                            </div>
                            <button type="submit" class="btn btn-primary col-md-8">Add My Car</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
 
