@page
@{
    ViewData["Title"] = "adminDashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sidebar sidebar-right">
                    <div class="widget recent-posts">
                        <h3 class="widget-title">Admin Dashboard</h3>
                        <ul class="unstyled clearfix">
                            <li>

                                <div class="col-md-10">
                                    <div class="posts-thumb pull-left">
                                        <a href="#"><img alt="img" src="https://bit.ly/2YGSobD"></a>
                                    </div>
                                    <div class="post-info">
                                        <h4 class="entry-title">
                                            <a href="#">Toyota Yaris 2013</a>
                                        </h4>
                                        <p>4.2 <i class="fas fa-star"></i></p>
                                        <span>(116 Trip)</span>
                                        <p><i class="fa fa-car"></i> Gas</p>
                                        <p><i class="fa fa-group "></i> 5 seats</p>
                                    </div>
                                </div>
                                <div class="clearfix col-md-2">
                                    <a><i class="fas fa-trash-alt"></i> Delete</a>
                                </div>
                            </li><!-- 1st post end-->
                            <li>
                                <div class="col-md-10">
                                    <div class="posts-thumb pull-left">
                                        <a href="#"><img alt="img" src="https://bit.ly/3c7TmBz"></a>
                                    </div>
                                    <div class="post-info">
                                        <h4 class="entry-title">
                                            <a href="#">Toyota Yaris 2013</a>
                                        </h4>
                                        <p>4.2 <i class="fas fa-star"></i></p>
                                        <span>(116 Trip)</span>
                                        <p><i class="fa fa-car"></i> Gas</p>
                                        <p><i class="fa fa-group "></i> 5 seats</p>
                                    </div>
                                </div>
                                <div class="clearfix col-md-2">
                                    <a><i class="fas fa-trash-alt"></i> Delete</a>
                                </div>
                            </li><!-- 1st post end-->
                            <li>
                                <div class="col-md-10">
                                    <div class="posts-thumb pull-left">
                                        <a href="#"><img alt="img" src="https://bit.ly/2YGSobD"></a>
                                    </div>
                                    <div class="post-info">
                                        <h4 class="entry-title">
                                            <a href="#">Toyota Yaris 2013</a>
                                        </h4>
                                        <p>4.2 <i class="fas fa-star"></i></p>
                                        <span>(116 Trip)</span>
                                        <p><i class="fa fa-car"></i> Gas</p>
                                        <p><i class="fa fa-group "></i> 5 seats</p>
                                    </div>
                                </div>
                                <div class="clearfix col-md-2">
                                    <a><i class="fas fa-trash-alt"></i> Delete</a>
                                </div>
                            </li><!-- 1st post end-->




                        </ul>

                    </div><!-- Recent post end -->
                </div><!-- Sidebar end -->
            </div><!-- Col end -->
        </div><!-- Content row end -->
    </div><!-- Container end -->
</section><!-- Main container end -->
