
<div id="banner-area" class="banner-area" style="background-image:url(https://bit.ly/3b2VEAE);background-size:cover">
        <div class="banner-text">
        <div class="container" >
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">LendCar</h1>
                        <ol class="breadcrumb">
                        </ol>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="https://bit.ly/3deQ8wo" width="550" height="500" />
            </div>
            <div class="col-md-6">

                <h3 class="column-title mrt-0">Capital Teltway Building</h3>
                <p>Morbi turpis nisl, auctor ut nisl vel, pellentesque euismod nunc nunc accumsan imperdiet.</p>

                <ul class="project-info unstyled">
                    <li>
                        <div class="project-info-label">Client</div>
                        <div class="project-info-content">Pransbay Powers Authority</div>
                    </li>
                    <li>
                        <div class="project-info-label">Architect</div>
                        <div class="project-info-content">Dlarke Pelli Incorp</div>
                    </li>
                    <li>
                        <div class="project-info-label">Location</div>
                        <div class="project-info-content">McLean, VA</div>
                    </li>
                    <li>
                        <div class="project-info-label">Size</div>
                        <div class="project-info-content">65,000 SF</div>
                    </li>
                    <li>
                        <div class="project-info-label">Year Completed</div>
                        <div class="project-info-content">2015</div>
                    </li>
                    <li>
                        <div class="project-info-label">Categories</div>
                        <div class="project-info-content">Commercial, Interiors</div>
                    </li>
                    <li>
                        <div class="project-link">
                            <a class="btn btn-primary" target="_blank" href="#">Go</a>
                        </div>
                    </li>
                </ul>


            </div><!-- Content col end -->

        </div><!-- Row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
