@page
@model LendCar.Pages.HowUseModel
@{
    ViewData["Title"] = "HowUse";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<section class="how-work">
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>How it works</h1>
                    <p>New to LendCars ? Welcome! The way to your new car.</p>
                    <h2>3 simple steps – you define the terms</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-steps">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center wow slideInLeft"  data-wow-duration="1.5s">
                <img src="https://cms.carvolution.com/assets/entries/choose.svg">
            </div>
            <div class="col-md-6 right-side wow slideInRight"  data-wow-duration="2s">
                <h3><strong class="number">1</strong> Choose your car</h3>
                <p>Choose from over 25 models. Whether a small car for the city or a premium SUV for the whole family – we have the perfect car for you.</p>
                <a href="#" class="btn btn-info">Browse Car</a>
            </div>
        </div>
    </div>
</section>

<section class="how-steps">
    <div class="container">
        <div class="row">
            <div class="col-md-6 right-side big-btn wow slideInLeft"  data-wow-duration="1.5s">
                <h3><strong class="number">2</strong> According to your terms</h3>
                <p>You decide how long you want to keep your car. You choose your deductible for the insurance and how many kilometers you would like to drive per month. We will take care of the rest.</p>
                <a href="#" class="btn btn-info">Whats inside the Carvolution Service? ↓</a>
            </div>
            <div class="col-md-5 text-center second-img wow slideInRight"  data-wow-duration="2s">
                <img src="https://cms.carvolution.com/assets/entries/terms.svg">
            </div>
        </div>
    </div>
</section>

<section class="how-steps">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center wow slideInLeft"  data-wow-duration="1.5s">
                <img src="https://cms.carvolution.com/assets/entries/ready.svg">
            </div>
            <div class="col-md-6 right-side wow slideInRight"  data-wow-duration="2s">
                <h3><strong class="number">3</strong> Have some patience</h3>
                <p>We will take care of the registration of your vehicle, put the license plates on the car and make sure your new vehicle is ready for you. Let us know when you would like to have your car delivered. You also have the possibility to pick your car up in Bannwil (Canton of Bern) for free. You have the choice.</p>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <hr class="how">
        <div class="row end">
            <div class="col-md-12 text-center ">
                <h2>And then what ? Climb in and drive stress free</h2>
                <p>From now on you can enjoy being at the wheel stress free for a fixed monthly fee, as long as you wish. Welcome to LendCar. We take over maintainance fees, taxes, initial highway vignette, tyres, tyre change and tyre storage. Everything is included in the LendCar-Service except fuel so you can really relax.</p>
                <a href="#" class="btn btn-info">Browse Car</a>
            </div>
        </div>
    </div>
</section>

